{% extends 'base.html' %}
{% block content%}
<div class="row" align="center">

    <div class="container">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">

        <h1 align="center">Expense Tracker</h1>
        <hr>
        <br>
        <h2>Welcome {{user.username}}</h2>
        <h4>Any updates on the expenditures?</h4>

          <a href="{% url 'Exp_trac_app:addexp'%}"><pre><button type="button" class="btn btn-primary">Add todays expenses</button></pre></a>
          <br>
          <a href="{% url 'Exp_trac_app:editexp' %}"><button type="button" class="btn btn-secondary">Edit previous expenses</button></a>
          <br> <br> <br>
          <a href="{% url 'Exp_trac_app:viewexp'%}"><button type="button" class="btn btn-success">View monthly expenses</button></a>
      </div>
      <div class="col-sm-3"></div>



  </div>
{% endblock%}
