{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="row" align="center">

    <div class="container">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">

        <h1 align="center">Expense Tracker</h1>
        <hr>
        <br>
        <h2>Hi {{user.username}}</h2>
        <h4>Please select the particular expense and submit amount to be added.</h4>
        <br>
        <form  method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit"  value="Submit">
        </form>

      </div>
      <div class="col-sm-3"></div>



  </div>
{% endblock %}
